<div id="about-profile">
    <div class="row center-block" id="manoj-info">
        <h3>Manoj Pathak</h3>
        =====================================
        <p>Awesome developer who works at Indegene. And his favorite Quote is "Fatega ab to! Bilkul Fatega."</p>
    </div>
    <div class="row center-block" id="dipesh-info">
        <h3>Dipesh Gupta</h3>
        =====================================
        <p>Jhakkas developer, who also works at Indegene. And his favorite Quote is "Apne ko kya ? Pani nikalna chaiye."</p>
    </div>
    <div class="row center-block" id="rohit-info">
        <h3>Rohit Chaubey</h3>
        =====================================
        <p>Junior champion, who just started working at indegene. And his favrorite Quote is "JS Bitch!"</p>
    </div>
</div>
