<div class="page-header">
    <h2>Welcome {{username}}.</h2>
</div>
<div class="row" id="home-screen">
    <div class="col-lg-6 col-md-6 col-sm-6" id="app-note">
        <h2 class="heading">Travel, Spend and Manage.</h2>
        <h4>Mangage all your request with us.</h4>
        <p>Your one stop shop for request management. No need of "going to manager" bullshit anymore.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6" id="sign-up-in">
        <form class="form-group" id="signup-form">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control" placeholder="Username" ng-model="formData.username">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" placeholder="Password" ng-model="formData.password">
            </div>
            <button class="btn btn-success btn-lg" id="home-log-btn" ng-click="authUser()">Sign In</button>
        </form>
        <h4>OR</h4>
        <button class="btn btn-success btn-lg" id="home-sign-btn" ng-click="routeUser('signup')">Sign Up</button>
    </div>
</div>
