<div class="page-header">
    <h2>Welcome {{username}}.</h2>
</div>
<div class="row" id="home-screen">
    <div class="col-lg-6 col-md-6 col-sm-6" id="app-note">
        <h2 class="heading">Travel, Spend and Manage.</h2>
        <h4>Mangage all your request with us.</h4>
        <p>Your one stop shop for request management. No need of "going to manager" bullshit anymore.</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6" id="sign-up-in">
        <button class="btn btn-success btn-lg" id="home-sign-btn" ng-click="routeUser('signup')">Sign Up</button>
        <h4>OR</h4>
        <button class="btn btn-success btn-lg" id="home-log-btn" ng-click="routeUser('signin')">Log In</button>
    </div>
</div>
