<div id="manager-notification">
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Request ID</td>
                <td>Travel Date From</td>
                <td>Status</td>
                <td>View Action</td>
                <td>Approve Action</td>
                <td>Reject Action</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="travelRequest in travelRequests">
                <td>{{travelRequest.travelid}}</td>
                <td>{{travelRequest.travelDateFrom}}</td>
                <td>{{travelRequest.status}}</td>
                <td>
                    <input class="btn btn-default" type="button" value="View" ng-click="showTravelRequest(travelRequest.travelid)">
                </td>
                <td>
                    <input class="btn btn-default" type="button" value="Approve" ng-click="approveTravelRequest(travelRequest.travelid)">
                </td>
                <td>
                    <input class="btn btn-default" type="button" value="Reject" ng-click="rejectTravelRequest(travelRequest.travelid)">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="alert alert-warning pull-right" id="push-notification-manager" ng-click="userNav('request')">
    You've <strong>{{requestLengthChange}}</strong> new notification(s).
</div>
