<table>
    <thead>
        <tr>
            <td>Mode of transport:</td>
            <td>{{trequest.transportMode}}</td>
        </tr>
        <tr>
            <td>Travel date from:</td>
            <td>{{trequest.travelDateFrom}}</td>
        </tr>
        <tr>
            <td>Travel date to:</td>
            <td>{{trequest.travelDateTo}}</td>
        </tr>
        <tr>
            <td>Currency Type:</td>
            <td>{{trequest.currencyType}}</td>
        </tr>
        <tr>
            <td>Currency Amount:</td>
            <td>{{trequest.currencyAmount}}</td>
        </tr>
        <tr>
            <td>Phone Details:</td>
            <td>{{trequest.phoneDetail}}</td>
        </tr>
        <tr>
            <td>Per Dime Details:</td>
            <td>{{trequest.perDime}}</td>
        </tr>
        <tr>
            <td>Laundry Allowance Needed:</td>
            <td>{{trequest.laundryAllowance}}</td>
        </tr>
        <tr>
            <td>Food Allowance Needed:</td>
            <td>{{trequest.foodAllowance}}</td>
        </tr>
        <tr>
            <td>Meal Pref:</td>
            <td>{{trequest.mealType}}</td>
        </tr>
        <tr>
            <td>Remarks:</td>
            <td>{{trequest.remarks}}</td>
        </tr>

        <tr>
            <td>Manager Email Id:</td>
            <td>{{trequest.managerEmail}}</td>
        </tr>

        <tr>
            <td>trequester Role:</td>
            <td>{{trequest.userRole}}</td>
        </tr>
        <tr>
            <td>Current Status:</td>
            <td>{{trequest.status}}</td>
        </tr>
        <tr>
            <td>Travel Quote:</td>
            <td><input type="text" ng-model="trequest.agentQuote" /></td>
        </tr>
        <tr>
            <td>Comment:</td>
            <td><textarea rows="3" cols="50" ng-model="trequest.agentComments"></textarea></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" value="Submit Quote"  ng-click="submitQuote()" />
            </td>
            
        </tr>
    </thead>
</table>
