<div class="page-header">
    <h2>Sign Up</h2>
</div>
<form class="form-group" id="signup-form" name="signup_form">
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" class="form-control" placeholder="User Name" ng-model="formData.username" required/>
    </div>


    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" class="form-control" placeholder="Password" ng-model="formData.password" required/>
    </div>
    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-tags"></span></span>
        <input type="email" class="form-control" placeholder="Email ID" ng-model="formData.email" required/>
    </div>
    <div id="roles">
        <label class="btn btn-primary">
            <input type="radio" name="options" value="Employee" id="employee-role" ng-model="formData.role" required/> Employee
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" value="Manager" id="manager-role" ng-model="formData.role" required/> Manager
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="options" value="Agent" id="agent-role" ng-model="formData.role" required/> Agent
        </label>
    </div>
    <div class="alert alert-warning" ng-show="errmsg" id="alert-signin">
        <a class="close" data-dismiss="alert" ng-click="closeWarning()">&times;</a>
        <strong>Error!</strong> Either user was not found or data input is incorrect.
    </div>
    <button class="btn btn-success btn-group-sm form-submit-btn" ng-click="createUser()">Submit</button>
</form>
