html {
    position: relative;
    /*Required for Sticky Footer*/
    
    min-height: 100%;
    /*Required for Sticky Footer*/
}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
    background-color: rgb(92, 223, 135);
    margin-bottom: 60px;
    /*Required for Sticky Footer*/
    
    background: url(../img/intro-bg.jpg) no-repeat center center fixed;
}

#navigation-bar {
	background-color: #000;
	border-color: #000;
}
#navigation-bar .active a{
	background-color: rgb(59,67,66);
}
#home-screen {
    color: #fff;
    font-weight: bold;
}
#home-screen .btn {
    width: 70%;
}
#home-screen p {
    margin: 10px;
}

#home-screen div {
	padding-top: 2%;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
}
